.container {
    padding: 24px;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 54px;
    font-weight: bold;
    color: white;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }