.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem;
    background-color: #111111;
  }
  
  .logo img {
    max-height: 40px;
  }
  .navLinks {
    list-style: none;
    display: flex;
    gap: 24px;
  }
  
  .navLinks li {
    cursor: pointer;
    font-weight: bold;
  }
  
  .button {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #fff;
    color: #111111;
  }